/* reset */

.navigation {
  width: 200px;
  background-color: #1d3557;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  position: absolute;
  z-index: 5;
}

.navigation > img {
  margin-bottom: 50px;
}

.navigation::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.linkables {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.linkables > li > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: blanchedalmond;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid;
  width: 150px;
}

/* this be the classroom for the sections it affects all of them */
.sections {
  height: 100vh;
  width: 800px;
  position: absolute;
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  left: 0;
  transition: left 0.8s ease-out;
}

.sections::-webkit-scrollbar {
  display: none;
}

.sections.about {
  left: -800px;
  transition: left 0.8s ease-out;
}

.sections.Home {
  left: 0;
  transition: left 0.8s ease-out;
}

.sections.work {
  left: -1600px;
  transition: left 0.8s ease-out;
}

.sections.skills {
  left: -2400px;
  transition: left 0.8s ease-out;
}

.sections.projects {
  left: -3200px;
  transition: left 0.8s ease-out;
}

.sections.testimonial {
  left: -4000px;
  transition: left 0.8s ease-out;
}

.sections.contact {
  left: -4800px;
  transition: left 0.8s ease-out;
}

#landing {
  background-color: #457b9d;
  margin-left: 200px;
}

#About {
  background-color: #1d3557;
  margin-left: 1000px;
}

#WorkandEducation {
  background-color: #457b9d;
  margin-left: 1800px;
}

#Skills {
  background-color: #1d3557;
  margin-left: 2600px;
}

#Projects {
  background-color: #457b9d;
  margin-left: 3400px;
}

#Testimonials {
  background-color: #1d3557;
  margin-left: 4200px;
}

#Contact {
  background-color: #457b9d;
  margin-left: 5000px;
}

.nav-btn {
  background-color: #1d3557; /* Green */
  border: none;
  color: #f1faee;
  padding: 15px 32px;
  padding-left: 0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  width: 150px;
  border-bottom: 1px solid;
}

.nav-btn:hover {
  color: #457b9d;
  transition: 0.1s linear;
}

.mydscrp {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.name {
  color: #f1faee;
  width: 400px;
  margin-left: 70px;
  margin-top: 50vh;
}

.inside {
  padding: 70px;
  color: #f1faee;
}
