/* reset */

body {
  font-family: "Fira Sans Condensed", sans-serif;
  overflow-x: hidden;
}

.navigation {
  width: 200px;
  background-color: #1d3557;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  position: absolute;
  z-index: 5;
}

.navigation > img {
  margin-bottom: 50px;
}

.navigation::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.linkables {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.linkables > li > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: blanchedalmond;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid;
  width: 150px;
}

/* this be the classroom for the sections it affects all of them */
.sections {
  height: 100vh;
  width: 800px;
  min-width: 300px;
  position: absolute;
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  left: 0;
  transition: left 0.8s ease-out;
}

.sections::-webkit-scrollbar {
  display: none;
}

.sections.about {
  left: -800px;
  transition: left 0.8s ease-out;
}

.sections.Home {
  left: 0;
  transition: left 0.8s ease-out;
}

.sections.work {
  left: -1600px;
  transition: left 0.8s ease-out;
}

.sections.skills {
  left: -2400px;
  transition: left 0.8s ease-out;
}

.sections.projects {
  left: -3200px;
  transition: left 0.8s ease-out;
}

.sections.testimonial {
  left: -4000px;
  transition: left 0.8s ease-out;
}

.sections.contact {
  left: -4800px;
  transition: left 0.8s ease-out;
}

.sections.last {
  left: -5600px;
}

#landing {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url(./assets/images/landing_bg.JPG);

  background-size: cover;
  background-position: center;

  margin-left: 200px;
}


#About {
  background-color: #1d3557;
  margin-left: 1000px;
}

#WorkandEducation {
  background-color: #457b9d;
  margin-left: 1800px;
}

#Skills {
  background-color: #1d3557;
  margin-left: 2600px;
}

#Projects {
  background-color: #457b9d;
  margin-left: 3400px;
}

#Testimonials {
  background-color: #1d3557;
  margin-left: 4200px;
}

#Contact {
  background-color: #457b9d;
  margin-left: 5000px;
}

#last {
  background-color: #1d3557;
  margin-left: 5800px;
  width: 100vw;
}

.nav-btn {
  background-color: #1d3557; /* Green */
  border: none;
  color: #f1faee;
  padding: 10px 0px;
  padding-left: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  width: 100%;
  border-bottom: 0.5px solid rgba(241, 250, 238, 0.5);
}

.nav-btn:hover {
  color: #457b9d;
  transition: 0.2s linear;
}

.mydscrp {
  border-top: 1px solid rgba(241, 250, 238, 0.5);
  border-bottom: 1px solid rgba(241, 250, 238, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.mydscrp > p {
  margin-bottom: 0;
}

.name {
  color: #f1faee;
  /* width: 210px;
  margin-left: 70px;
  margin-top: 50vh; */
}

.inside {
  /* padding: 70px; */
  color: #f1faee;
}

.line {
  border: 3px solid #457b9d;
  width: 70px;
}

.lineTwo {
  border: 3px solid #1d3557;
  width: 70px;
}

.aboutInfo {
  margin-top: 70px;
}

.myInfo {
  border-bottom: rgba(241, 250, 238, 0.5) 1px solid;
  padding-bottom: 1rem;
}

.bio {
  margin-top: 70px;
}

.btn {
  border-radius: 0;
  border: 3px solid #457b9d;
  border-radius: 3px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #457b9d;
  border-color: #457b9d;
  color: white;
}

#hi {
  font-weight: lighter;
}

p {
  font-weight: 200;
}

#footerer {
  color: rgba(241, 250, 238, 0.3);
  bottom: 10px;
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .navigation {
    position: fixed;
    width: 100%;
    left: -100%;
    z-index: 4;
    transition: 0.3s linear;
  }

  .mage {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation.active {
    left: 0;
    transition: 0.3s linear;
  }

  #footerer {
    display: none;
  }

  .sections {
    padding-top: 5vh;
    height: fit-content;
    width: auto;
    position: relative;
    /* box-sizing: border-box; */
    /* -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; */
    left: 0;
    /* transition: left 0.8s ease-out; */
  }

  .sections::-webkit-scrollbar {
    display: none;
  }

  .sections.about {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.Home {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.work {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.skills {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.projects {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.testimonial {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.contact {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.last {
    left: 0;
  }

  #landing {
    margin-left: 0;
    height: 100vh;
  }

  #About {
    margin-left: 0;
  }

  #WorkandEducation {
    margin-left: 0;
  }

  #Skills {
    margin-left: 0;
  }

  #Projects {
    margin-left: 0;
  }

  #Testimonials {
    margin-left: 0;
  }

  #Contact {
    margin-left: 0;
  }

  #last {
    margin-left: 0;
    display: none;
  }
}

@media screen and (max-width: 1760px) and (min-width: 1560px) {
  .navigation {
    width: 175px;
  }

  
  /* this be the classroom for the sections it affects all of them */
  .sections {
    width: 700px;
    position: absolute;
    box-sizing: border-box;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections::-webkit-scrollbar {
    display: none;
  }

  .sections.about {
    left: -700px;
    transition: left 0.8s ease-out;
  }

  .sections.Home {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.work {
    left: -1400px;
    transition: left 0.8s ease-out;
  }

  .sections.skills {
    left: -2100px;
    transition: left 0.8s ease-out;
  }

  .sections.projects {
    left: -2800px;
    transition: left 0.8s ease-out;
  }

  .sections.testimonial {
    left: -3500px;
    transition: left 0.8s ease-out;
  }

  .sections.contact {
    left: -4200px;
    transition: left 0.8s ease-out;
  }

  .sections.last {
    left: -4900px;
  }

  #landing {
    margin-left: 175px;
  }

  #About {
    margin-left: 875px;
  }

  #WorkandEducation {
    margin-left: 1575px;
  }

  #Skills {
    margin-left: 2275px;
  }

  #Projects {
    margin-left: 2975px;
  }

  #Testimonials {
    margin-left: 3675px;
  }

  #Contact {
    margin-left: 4375px;
  }

  #last {
    margin-left: 5075px;
    width: 100vw;
  }
}

.icons > a {
  color: #457b9d;
}

.icons > a:hover {
  color: #f1faee;
  transition: 0.2s;
}

.iconExp {
  width: 100px;
  color: #1d3557;
}

.iconExp:hover {
  width: 120px;
  color: #f1faee;
  transition: 0.2s;
}

.exp {
  border-bottom: rgba(241, 250, 238, 0.5) 0.1px solid;
}

.exp:hover {
  font-weight: bolder;
  transition: 0.2s;
}

/* progress bar */
.progress {
  background: #457b9d;
  justify-content: flex-start;
  /* border-radius: 100px; */
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  border-radius: 3px;
}

.progress-value {
  /* border-radius: 100px; */
  background: #f1faee;
  height: 10px;
  width: 0;
  border-radius: 3px;
}

.progHtml {
  animation: loadh 3s normal forwards;
}

.progCss {
  animation: loadc 3s normal forwards;
}

.progJs {
  animation: loadj 3s normal forwards;
}

.progJava {
  animation: loadja 3s normal forwards;
}

@keyframes loadh {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes loadc {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes loadj {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}

@keyframes loadja {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

/* end of pragress bar */

.card-img-overlay {
  opacity: 0;
  transition: 0.3s;
}

.card-img-overlay:hover {
  opacity: 1;
  transition: 0.3s;
  background-color: rgba(29, 53, 87, 0.8);
}

.card {
  border: none;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  height: 80vh;
}

.circle {
  border-radius: 50%;
}

.carousel-caption {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.menu {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: #1d3557;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* hamburger thing */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #457b9d;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 5;
  background-color: #1d3557;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 0;
}

/* end of hamburger thing */

.menu {
  display: none;
}

.me {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 4;
  list-style-type: none;
  background-color: #1d3557;
  color: #f1faee;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: none;
}

.linkablesMo {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

.cardsMobile {
  display: none;
}

.cardBtnMobile {
  background-color: #457b9d;
}

.cardsMobile > .card {
  background-color: #1d3557;
}

.iconSkills {
  width: 100px;
  color: #457b9d;
  transition: 0.2s;
}

.iconSkills:hover {
  color: #f1faee;
  width: 120px;
}

.carousel-caption {
  text-align: center;
  padding-left: 15%;
  padding-right: 10%;
  bottom: 0;
}

.carousel-indicators {
  display: none;
}

.crslMage {
  padding-left: 20%;
  margin-bottom: 50px;
  padding-right: 20%;
  margin-top: 70px;
  border-radius: 50%;
}

.crslCap {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.inside {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconsContact,
.iconsContact > a {
  color: #1d3557;
  width: 60px;
}

.iconsContact > a:hover {
  color: #f1faee;
  transition: 0.3s;
}

.wordsContact {
  text-align: center;
}

.contactSection {
  border-top: rgba(241, 250, 238, 0.5) 1px solid;
  border-bottom: rgba(241, 250, 238, 0.5) 1px solid;
}

.form-control {
  background-color: #1d3557;
  border: 0px;
  border-radius: 0%;
  color: #f1faee;
}

.contactb {
  background-color: #457b9d;
  border: 3px solid #1d3557;
  color: #1d3557;
  border-radius: 3px;
  padding: 3px 20px;
}

.contactb:hover {
  background-color: #1d3557;
  color: #f1faee;
  transition: 0.2s;
}

footer {
  background-color: #1d3557;
  color: rgba(241, 250, 238, 0.3);
  text-align: center;
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  /* .carousel {
    height: 100vh;
  } */
  .cardsMobile {
    display: block;
  }
  .inside {
    text-align: center;
  }

  .carousel-indicators {
    display: block;
  }

  footer {
    display: block;
  }

  h1 {
    text-align: left;
  }
  .cards {
    display: none;
  }

  .iconExp {
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    display: block;
  }

  .me {
    display: block;
  }

  .linkablesMo {
    display: block;
  }
  .linkables {
    display: none;
  }
}

.lastName {
  display: flex;
  justify-content: end;
}

.myDescLast {
  margin-left: auto;
  margin-top: 60vh;
}
.myName {
  color: #457b9d;
  border-top: #f1faee 1px solid;
  border-bottom: #f1faee 1px solid;
  font-weight: 500;
}

#last {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url(./assets/images/last_bg.jpg);

  background-size: cover;
  background-position: center;
}

/* for my animation text effect */

.hidden {
  opacity: 0;
  transition: 2s;
}

.shuffling {
  font-size: 3rem;
  display: flex;
  justify-content: start;
  transition: 2s;
}

/* end of animation text effect */

.indicator {
  width: 10px;
  z-index: 5;
  /* position: absolute; */
  right: -20px;
  /* top: 170px; */
  color: #457b9d;
  transition: 0.2s ease-out;
  opacity: 0;
}

.indShow {
  opacity: 1;
  transition: 0.2s ease-out;
}

@media screen and (max-width: 1560px) and (min-width: 1350px) {
  #footerer {
    font-size: small;
  }
  .navigation {
    width: 153px;
  }
  /* this be the classroom for the sections it affects all of them */
  .sections {
    width: 613px;
    position: absolute;
    box-sizing: border-box;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections::-webkit-scrollbar {
    display: none;
  }

  .sections.about {
    left: -613px;
    transition: left 0.8s ease-out;
  }

  .sections.Home {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.work {
    left: -1226px;
    transition: left 0.8s ease-out;
  }

  .sections.skills {
    left: -1839px;
    transition: left 0.8s ease-out;
  }

  .sections.projects {
    left: -2452px;
    transition: left 0.8s ease-out;
  }

  .sections.testimonial {
    left: -3065px;
    transition: left 0.8s ease-out;
  }

  .sections.contact {
    left: -3678px;
    transition: left 0.8s ease-out;
  }

  .sections.last {
    left: -4291px;
  }

  #landing {
    margin-left: 153px;
  }

  #About {
    margin-left: 766px;
  }

  #WorkandEducation {
    margin-left: 1379px;
  }

  #Skills {
    margin-left: 1992px;
  }

  #Projects {
    margin-left: 2605px;
  }

  #Testimonials {
    margin-left: 3218px;
  }

  #Contact {
    margin-left: 3831px;
  }

  #last {
    margin-left: 4444px;
    width: 100vw;
  }

  .icons > a {
    color: #457b9d;
  }

  .icons > a:hover {
    color: #f1faee;
    transition: 0.2s;
  }

  .iconExp {
    width: 90px;
    color: #1d3557;
  }

  .iconExp:hover {
    width: 110px;
    color: #f1faee;
    transition: 0.2s;
  }

  .iconSkills {
    width: 90px;
    color: #457b9d;
    transition: 0.2s;
  }

  .iconSkills:hover {
    color: #f1faee;
    width: 110px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 800px) {
  #footerer {
    font-size: small;
  }
  .navigation {
    width: 138px;
  }
  /* this be the classroom for the sections it affects all of them */
  .sections {
    width: 552px;
    position: absolute;
    box-sizing: border-box;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    left: 0;
    transition: left 0.8s ease-out;
  }

  #last {
    max-width: 1212px;
  }

  .sections::-webkit-scrollbar {
    display: none;
  }

  .sections.about {
    left: -552px;
    transition: left 0.8s ease-out;
  }

  .sections.Home {
    left: 0;
    transition: left 0.8s ease-out;
  }

  .sections.work {
    left: -1104px;
    transition: left 0.8s ease-out;
  }

  .sections.skills {
    left: -1656px;
    transition: left 0.8s ease-out;
  }

  .sections.projects {
    left: -2208px;
    transition: left 0.8s ease-out;
  }

  .sections.testimonial {
    left: -2760px;
    transition: left 0.8s ease-out;
  }

  .sections.contact {
    left: -3312px;
    transition: left 0.8s ease-out;
  }

  .sections.last {
    left: -3864px;
  }

  #landing {
    margin-left: 138px;
  }

  #About {
    margin-left: 690px;
  }

  #WorkandEducation {
    margin-left: 1242px;
  }

  #Skills {
    margin-left: 1794px;
  }

  #Projects {
    margin-left: 2346px;
  }

  #Testimonials {
    margin-left: 2898px;
  }

  #Contact {
    margin-left: 3450px;
  }

  #last {
    margin-left: 4002px;
    width: 100vw;
  }

  .icons > a {
    color: #457b9d;
  }

  .icons > a:hover {
    color: #f1faee;
    transition: 0.2s;
  }

  .iconExp {
    width: 90px;
    color: #1d3557;
  }

  .iconExp:hover {
    width: 100px;
    color: #f1faee;
    transition: 0.2s;
  }

  .iconSkills {
    width: 90px;
    color: #457b9d;
    transition: 0.2s;
  }

  .iconSkills:hover {
    color: #f1faee;
    width: 95px;
  }

   
  .contactSection h4, .skillText>h4{
    font-size: large;
  }

  .contactSection h6, .skillText>h6 {
    font-size: medium;
  }

  .contactSection p, .skillText>p{
    font-size: small;
  }

  .contactSection h2, .skillText>h2 {
    font-size: large;
  }

  .contactSection h1, .skillText>h1{
    font-size: xx-large;
  }

  .name {
    width: 45%;
  }
  
}

.sections {
  cursor: default !important;
}
